@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Luxurious+Roman&family=Merriweather:ital@0;1&family=Romanesco&family=Work+Sans:wght@400;500;800&display=swap');

* {
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    color:rgb(6, 32, 175);
    background: url(./images/2021_0316_08405500.jpg);
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Gideon Roman', 'Luxurious Roman' ;
    overflow: scroll;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}
form {
    align-content: center;
}

.container .sidenav{
    padding: 20px 50px;
    width: 100px;
}

button {
    margin: 10px;
    padding: 5px;
    background:transparent;
    background-color: aliceblue;
}

#cityinput {
    width: 150px;
    background-color: aliceblue;
    color: black;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    font-weight: 200;
    padding: 5px;
    margin: 5px;
}

.date-container .time {
    font-size: 40px;
    font-weight: 100px;
    display: flex;
}

.date-container .date {
    font-size: 30px;
    align-content: center;
}

.place-container {
    text-align: center;
}

.place-container .timezone {
    font-size: 45px;
    font-weight: 100;
}

.place-container .country {
    font-size: 20px;
    font-weight: 500;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    border: 2px solid rgb(6, 32, 175);
    width: 175px;
    color: rgb(6, 32, 175);
}

.current-info .others .weatheritem {
    display: flex;
    justify-content: space-between;
    width: 65px;
    border: 2px solid rgb(6, 32, 175);
}

.futureforecast {
    background: rgba(24, 24, 27 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.futureforecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.futureforecast .today .day {
    padding: 5px 10px;
    background: #a9a9ac;
    border-radius: 50px;
    text-align: center;
}

.futureforecast .weatherforecast {
    display: flex;

}

.weatherforecast .weatherforecas-item {
    display: flex-wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    border: 2px solid rgb(6, 32, 175);
    border-radius: 10px;
    padding: 5px;
    color:  rgb(6, 32, 175);
}

.weatherforecast .weatherforecas-item .day {
    padding: 5px 10px;
    color:rgb(6, 32, 175)
    align-items: center;
}

.weatherforecast .weatherforecas-item .temp {
    font-weight:150;
    color: rgb(6, 32, 175);
    background-color: #d3d3db;
    align-items: center;
}

@media only screen and (max-width: 730px) {
    .futureforecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .futureforecast .today .temp {
        font-size: 30px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .futureforecast {
        background: rgba(24, 24, 27 0.8);
        padding: 25px;
        position: relative;
        bottom: 0;
        display: flex;
        color:  rgb(6, 32, 175);
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 600px) {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }